* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
} */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .logo {
    font-size: 18px;
    color: rgb(101, 149, 238);
    font-weight: normal;
  }

  .navEl {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;

    & h2 {
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;

      & a {
        text-decoration: none;
        color: black;

        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .gallery {
    text-decoration: none;
    color: white;
    background-color: rgb(101, 149, 238);
    padding: 7px 22px;
    border-radius: 7px;
    font-size: 14px;

    &:hover {
      opacity: 85%;
    }
  }
}

.main {
  display: flex;
  max-width: 1250px;
  height: 550px;
  margin: 0 auto;

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .left__title {
      font-size: 45px;
    }

    .par {
      margin-top: 20px;
    }

    .left__box {
      margin-top: 55px;

      .gallery {
        text-decoration: none;
        color: white;
        background-color: rgb(101, 149, 238);
        padding: 7px 22px;
        border-radius: 7px;
        font-size: 14px;

        &:hover {
          opacity: 85%;
        }
      }
    }

    .box {
      margin-top: 35px;
      background-color: rgb(101, 149, 238);
      color: white;
      padding: 15px 8px;
      width: 80%;
      border-radius: 8px;

      .box__title {
        font-size: 16px;
      }

      .box__par {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }

  .right {
    width: 50%;
    margin-top: 10px;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.section {
  background-color: black;
  opacity: 95%;
  height: 800px;
  margin-top: 55px;
  color: white;
  padding-top: 40px;

  .section__title {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    font-size: 50px;

    & span {
      color: rgb(76, 135, 245);
    }
  }
  .section__par {
    color: gray;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;

    .inside {
      max-width: 550px;
      height: 200px;
      border: 1px solid gray;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

      .inside__all {
        gap: 20px;
        display: flex;
        flex-direction: column;

        .inside__text {
          font-size: 20px;
        }

        .inside__box {
          display: flex;
          align-items: center;

          & img {
            border: 1px solid gray;
            border-radius: 100%;
            height: 50px;
            width: 50px;
            object-fit: cover;
          }

          .inside__text2 {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.questions {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  .questions__title {
    font-size: 55px;
  }
}
