* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 10px auto;

  .logo {
    font-size: 18px;
    color: rgb(101, 149, 238);
    font-weight: bold;

    @media (max-width: 700px) {
      font-size: 14px;
    }
  }

  .navEl {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;

    & h2 {
      font-size: 18px;
      font-weight: normal;
      text-decoration: none;

      & a {
        text-decoration: none;
        color: black;

        &:hover {
          border-bottom: 1px solid black;
          font-weight: bold;
        }
      }
    }
  }

  .gallery {
    text-decoration: none;
    color: white;
    background-color: rgb(101, 149, 238);
    padding: 7px 22px;
    border-radius: 7px;
    font-size: 14px;

    &:hover {
      opacity: 85%;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }
}

.main {
  display: flex;
  max-width: 1250px;
  height: 550px;
  margin: 0 auto;

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    @media (max-width: 900px) {
      width: 100%;
      padding: 20px;
    }

    .left__title {
      font-size: 45px;

      @media (max-width: 900px) {
        font-size: 27px;
      }
    }

    .par {
      margin-top: 20px;

      @media (max-width: 900px) {
        margin-top: 5px;
      }
    }

    .left__box {
      margin-top: 55px;

      @media (max-width: 900px) {
        margin-top: 10px;
      }

      .gallery {
        text-decoration: none;
        color: white;
        background-color: rgb(101, 149, 238);
        padding: 7px 22px;
        border-radius: 7px;
        font-size: 14px;

        &:hover {
          opacity: 85%;
        }

        @media (max-width: 900px) {
          display: none;
        }
      }
    }

    .box {
      margin-top: 35px;
      background-color: rgb(101, 149, 238);
      color: white;
      padding: 15px 8px;
      width: 80%;
      border-radius: 8px;

      @media (max-width: 900px) {
        display: none;
      }

      .box__title {
        font-size: 16px;
      }

      .box__par {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }

  .right {
    width: 50%;
    margin-top: 10px;
    padding: 10px;

    @media (max-width: 900px) {
      width: 100%;
      margin: 10px auto;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.section {
  background-color: black;
  opacity: 95%;
  height: 800px;
  margin-top: 55px;
  color: white;
  padding-top: 40px;

  .section__title {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    font-size: 50px;

    @media (max-width: 700px) {
      font-size: 35px;
    }

    & span {
      color: rgb(76, 135, 245);
    }
  }
  .section__par {
    color: gray;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    height: 500px;
    overflow-y: scroll;

    .inside {
      max-width: 550px;
      height: 200px;
      border: 1px solid gray;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

      .inside__all {
        gap: 20px;
        display: flex;
        flex-direction: column;

        .inside__text {
          font-size: 20px;
        }

        .inside__box {
          display: flex;
          align-items: center;

          & img {
            border: 1px solid gray;
            border-radius: 100%;
            height: 50px;
            width: 50px;
            object-fit: cover;
          }

          .inside__text2 {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.questions {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;

  .questions__title {
    font-size: 55px;
    margin-bottom: 75px;

    @media (max-width: 700px) {
      font-size: 35px;
    }
  }

  .details[open] summary {
    background-color: #f5f3f3ba;
    margin-bottom: 9px;
  }

  .details {
    width: 500px;
    margin-bottom: 20px;
    background-color: rgb(237, 221, 221);
    border-radius: 14px;
    overflow: hidden;

    .summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-size: 24px;
      padding: 13px;
      transition: all 120ms ease;
      gap: 15px;
      background-color: rgb(218, 201, 201);
    }

    .summary::-webkit-details-marker {
      display: none;
    }

    .content {
      padding: 13px;
    }
  }
}
